main{
    display: flex;
    justify-content: center;
    font-family: Darker Grotesque;
}

.for-adoption{
    background-color: rgb(167, 165, 165);
    padding: 40px 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 4px solid black;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.for-adoption h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.for-adoption button{
    background: #2C5680;
    border: 1px solid #333333;
    width: 209px;
    height: 60px;
    top: 668px;
    left: 592px;
    border-width: 1px;
    color:white;
    font-size: 36px;
    align-self: center;
}

.for-adoption button:hover{
    background-color: #0c2b4b;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-box{
    display: flex;
    flex-direction: column;
    font-family: Darker Grotesque;
    font-weight: 500;
    font-size: 30px;

}

.input{
    resize: none;
    background: #E6E6E6;
    border: 1px solid #333333;
    padding: 1%;
    font-size: 30px;
    height: 39px;
}

#name-input{
    width:74%;
}

#age-input{
    width: 23%;
}

#description{
    height: 298px;
}