main{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
}

.for-adoption{
    background-color: rgb(167, 165, 165);
    padding: 40px 70px;
    margin-top: 50px;
    border: 4px solid black;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.for-adoption h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.for-adoption button{
    width: 209px;
    height: 60px;
    background: #2C5680;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    align-self: center;
    transition: 0.2s ease-in-out;
}

.for-adoption button:hover{
    background-color: #0c2b4b;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-box{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
}

.input{
    resize: none;
    background: #E6E6E6;
    border: 1px solid #333333;
    padding: 1%;
    font-size: 18px;
    height: 39px;
}

#name-input{
    width:74%;
}

#age-input{
    width: 23%;
}

#description{
    height: 298px;
}