main {
    min-height: 60vh;
    height: fit-content;
    font-family: 'Darker Grotesque';
}

.main-header-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    min-width: 50vw;
    width: 60vw;
    padding: 30px 0px;
}

/* Filtros e botão de "ver lobinhos adotados" */

.filter-add-wolf-div {
    min-width: 50vw;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#wolf-filter {
    outline: none;
    width: 100%;
    padding: 5px 15px 5px 52px;
    font-size: 24px;
    color: #333333;
    background-image: url(../assets/list-lobinhos/lupa.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 28px;
    transition:
        background-position 0.2s ease-in-out;

    &:hover, &:focus {
        border: #333333 2px solid;
        border-radius: 3px;
        background-position: -32px;
        padding-left: 15px;
    }
}

#ad-btn,
.adopt-wolf-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEB959;
    color: white;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;

    &:hover{
        background-color: #c09f4b;
        cursor: pointer;
    }
}

#ad-btn {
    width: 130px;
    height: 47px;
    padding-bottom: 7.83px;
}

.adopt-wolf-btn {
    width: 157px;
    height: 45.92px;
    padding-bottom: 11.92px;
}

.adopted {
    background-color: #7aac3a;
    pointer-events: none;
    cursor: none;
}

.adopt-checkbox-container {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 20px;
    font-weight: 600;
    font-size: 24px;
    
    &:hover, &:focus {
        cursor: pointer;
    }
}

#adopt-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &:hover, &:focus {
        cursor: pointer;
    }
}

/* Listagem de lobinhos */

.view-wolves-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 100px;
    padding: 40px 0px;
}

.wolf-container-1,
.wolf-container-2 {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 350px;
}

.wolf-container-2 {
    flex-direction: row-reverse;
}

.wolf-pic-1,
.wolf-pic-2 {
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 0;
}

.wolf-pic-1 img,
.wolf-pic-2 img {
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.wolf-pic-1::before,
.wolf-pic-2::before {
    content: "";
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    background: #2C5680;
    border: 4px solid #333333;
    z-index: -1;
}

.wolf-pic-1::before {
    left: -7%;
}

.wolf-pic-2::before {
    right: -7%;

}.wolf-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.wolf-details-1,
.wolf-details-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wolf-details-2 {
    flex-direction: row-reverse;
}

.wolf-name-age-1,
.wolf-name-age-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.wolf-name-age-2 {
    align-items: flex-end;
}

.wolf-name {
    font-size: 36px;
    width: fit-content;
}

.wolf-age {
    opacity: 0.5;
    font-size: 20px;
    width: fit-content;
}

.wolf-text-1,
.wolf-text-2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}
.wolf-text-2 {
    text-align: end;
}

/* Paginação */

#pagination-btn {

}
