@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #85cdf5;
    display: flex;
    align-items: center;
    min-height: 130px;
    height: fit-content;
}
.link-container {
    flex: 1;
    display: flex;
    justify-content: center;
}
.hyperlink {
    text-decoration: none;
    color: #333333;
    font-size: 26px;
    font-family: 'Inter';
    font-weight: 600;

    &:hover {
        text-decoration: underline #333333 5px;
    }
}
.pic-logo {
    width: 80px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}