@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=WindSong:wght@400;500&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.title-img-btns-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    padding: 50px 0 50px;
}
p{
    font-family: 'Darker Grotesque';
}

