@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=WindSong:wght@400;500&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.title-img-btns-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    padding: 50px 0 50px;
}
p{
    font-family: 'Darker Grotesque';
}
.img-btns-info-box{
    display: flex;
    flex-direction: row;
    gap: 52px;
}
.img-btns-box{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.wolf-img{ /*PARA TESTE, MUDAR DEPOIS com DOM e os objetos do JSON*/
    background-color: red;
    border: #333333 1px;
    width: 430px;
    height: 328px;
    position: relative;
    display: inline-block;
}
.wolf-img::before {
    content: "";
    position: absolute;
    top: -10%;
    right: 6%;
    width: 100%;
    height: 100%;
    background: #2C5680;
    border: 4px solid #333333;
    z-index: -1;
}
.wolf-img img{
    display: block;
    max-width: 100%;
  }
